<main class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <form role="form" novalidate (submit)='addTodo()'>
      <input class="new-todo" [(ngModel)]='newTodoText' placeholder="What needs to be done" autofocus>
    </form>
  </header>
  <section class="main">
    <app-complete-all></app-complete-all>
    <app-todos-list [todoList]='todoList$ | async' [filterMode]='filterMode'></app-todos-list>
  </section>
  <footer class="footer">
    <span class="todo-count">{{ (activeTodos$ | async).length }} items left</span>
    <ul class="filters">
      <li>
        <a routerLink="" [class.selected]='filterMode === "All"' (click)='changeFilterMode("All")'>All</a>
      </li>
      <li>
        <a routerLink="" [class.selected]='filterMode === "Active"' (click)='changeFilterMode("Active")'>Active</a>
      </li>
      <li>
        <a routerLink="" [class.selected]='filterMode === "Completed"'
          (click)='changeFilterMode("Completed")'>Completed</a>
      </li>
    </ul>
    <button class="clear-completed" (click)='clearCompleted()'>Clear completed</button>
  </footer>
</main>
<footer class="info">
  <p>Double-click to edit a todo</p>
</footer>
